@model Category

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card" style="display:flex; flex-direction:row;justify-content:space-between">
            <div class="card-body">
                <h4 class="card-title">@Model.Name</h4>
                <p>@Model.Description</p>
            </div>
            <div class="card-body" style="display:flex; justify-content:end">
                <img src="~/assets/svg/fashion/@Model.ImageUrl" width="100"/>
            </div>
        </div>
    </div>
</div>